/* Marchant Web */

html {
  overflow: hidden !important;
  font-size: 14px;
}

body {
  overflow: hidden !important;
  background-color: #02000b;
  color: #FFFFFF;
  cursor: crosshair;
}

////////////////////////
// Fonts & Typography //
////////////////////////

$font-family-sans-serif: 'Inter', sans-serif;
$font-family-serif: 'Inter', sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

////////////////////////////
// Responsive Breakpoints //
////////////////////////////

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1680px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px,
        xxxl: 1600px
);

//////////////////////
// Spacer Utilities //
//////////////////////

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 4,
        7: $spacer * 6,
        8: $spacer * 8,
        9: $spacer * 10,
        10: $spacer * 12,
        20: $spacer * 24,
);

$enable-negative-margins: true;

//////////////////////
// Import Bootstrap //
//////////////////////

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";

//////////////////////////
// Import Custom Styles //
//////////////////////////

@import "components/typography";
@import "components/transitions";
