h1, h2, h3, h4, h5, h6, p, span, li{
  cursor: default;
}

@mixin text-small{
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.tech-stack li, .location-indicator{
    @include text-small;
}
