h1, h2, h3, h4, h5, h6, p, span, li {
  cursor: crosshair;
  font-family: $font-family-sans-serif;
  color: #212A36;

  a{
    color: #212A36;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dotted #212A36;

    &:hover{
        color: #000000;
    }
  }
}

h1 {
  @include font-size(2.6rem);
  @include rfs(2.4rem, line-height);
  font-weight: 600;

  &.lead {
    @include font-size(4rem);
    @include rfs(3.2rem, line-height);
    font-weight: 700;
  }
}

h2 {
  @include font-size(1.6rem);
  @include rfs(1.8rem, line-height);
  font-weight: 600;

  &.lead {
    @include font-size(2rem);
    @include rfs(1.2rem, line-height);
    font-weight: 700;
  }
}

h3 {
  @include font-size(1.2rem);
  @include rfs(1.4rem, line-height);
  font-weight: 600;
}

.lead {
  font-family: "N27", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin text-small {
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 0;

  li {
    color: #AFBFD6;
  }
}

.tech-stack li, .location-indicator, .text-small {
  @include text-small;
}

.code-tag {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 600;
  color: #AFBFD6;
  @include font-size(0.9rem);
  @include rfs(0.9rem, line-height);
}
